body {
  background-color: #f4f4f4;
  background-image: radial-gradient(
    circle at 1px 1px,
    rgba(0,0,0,0.04) 1px,
    transparent 0
  );
  background-size: 20px 20px;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 6px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  margin-top: 6px;
}

section {
  background: white;
  padding: 16px;
  margin-bottom: 25px;
  border-radius: 8px;
}

a {
  color: #0066cc;
  text-decoration: none;
}

section p {
  margin-bottom: 0;
}

section ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.2rem;
}

section li {
  margin-bottom: 0.5rem;
}

